:root {
    --cerna: #0E0B16;
    --modra: rgb(71, 23, 246);
    --bila: #FFFFFF;
    --tmavsi-modra: #3312a9;
    --pruhledna: rgba(91, 50, 255, 0.22);
    --mene-pruhledna: rgba(109, 76, 255, 0.44);
    --sirka-menu: 230px;
    --cervena: rgba(255, 0, 0, 0.70);
}

@font-face {
    font-family: "Montserrat";
    src: url('@/assets/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 400;
}

body::-webkit-scrollbar {
    width: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--bila);
    background-image: url('@/assets/pozadi.png');
    background-size: 500%;
    background-position-x: -500px;
    background-repeat: repeat;
    background-color: var(--cerna);
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: space-evenly;
}

.pruhledne {
    background-color: var(--pruhledna);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.fajvka {
    height: 40px;
}

.fajvkaMensi {
    height: 32px;
}